@model drew_blackjack_mvc.Models.BlackjackViewModel

@{
    ViewData["Title"] = "Blackjack";
}

@{
    Layout = "~/Views/Shared/_BlackjackLayout.cshtml";
}

<link href="~/css/blackjack.css" rel="stylesheet" />
<script src="~/js/blackjack.js"></script>

<!-- Add this hidden input field -->
<input type="hidden" id="getGameStateUrl" value="@Url.Action("GetGameState", "Blackjack")" />

@Html.Partial("_BlackjackTable", Model)

<button id="hit">Hit</button>
<button id="stay">Stay</button>
<button id="restart">Play Again</button>
